:root {
  /* --color-green: rgb(130, 157, 60);
  --color-purple: rgb(111, 108, 177);
  --color-red: rgb(221, 48, 39);
  --color-yellow: rgb(179, 141, 47);
  --color-white: rgb(238, 232, 311);
  --color-limegreen: rgb(130, 157, 60);
  --color-crimson: rgb(221, 48, 39); */
  /* --color-branding-bar: rgba(0, 39, 48, 1); */
  /* --color-branding-bar-foreground: rgb(255, 255, 255);  */
  /* --color-mountain-fill: rgba(147, 161, 161, 0.2); */

  /* --color-low-contrast-01: rgb(0, 43, 54);
  --color-low-contrast-02: rgb(7, 54, 66);
  --color-low-contrast-03: rgb(11, 60, 71); */

  /* --color-md-contrast-01: rgb(88, 110, 117);
  --color-md-contrast-02: rgb(101, 123, 131);
  --color-md-contrast-03: rgb(101, 123, 131); */

  /* --color-high-contrast-01: rgb(147, 161, 161);
  --color-high-contrast-02: rgb(238, 232, 213);
  --color-high-contrast-03: rgb(253, 246, 227); */

  /* --color-green-low-contrast: rgb(133, 153, 0);
  --color-purple-low-contrast: rgb(108, 113, 196);
  --color-red-low-contrast: rgb(220, 50, 47);
  --color-yellow-low-contrast: rgb(209, 150, 1); */

  /* --color-accent: rgb(38, 139, 210);
  --color-accent-secondary: rgb(47, 119, 168);
  --color-accent-muted-01: rgb(55, 155, 198);
  --color-accent-background: rgb(38, 139, 210, 0.05); */

  /* --color-input-background: rgba(0, 43, 54, 0.5);
  --color-input-border: rgb(11, 60, 71);
  --color-input-thumb: rgb(183, 188, 196);
  --color-input-symbol-search: rgb(0, 39, 48);
  --color-input-text: rgb(253, 246, 227);
  --color-input-text-active: rgb(238, 232, 213);
  --color-input-inactive: rgb(101, 123, 131);
  --color-input-track-default: rgb(101, 123, 131);
  --color-input-track-hover: rgb(101, 123, 131); */

  /* --color-gridline-major: rgb(88, 110, 117);
  --color-gridline-minor: rgb(11, 60, 71); */

  /* --color-overlay-background: rgba(0, 0, 0, 0.5);
  --color-overlay-background-muted-01: rgba(147, 161, 161, 0.25); */

  /* --color-chart-output: rgb(147, 161, 161);
  --color-chart-output-invert: rgb(0, 0, 0);
  --color-chart-label-major-background: rgba(0, 43, 54, 0.9);
  --color-chart-label-major: rgb(101, 123, 131);
  --color-chart-label-minor: rgb(88, 110, 117);
  --color-chart-bar-price-label-background: rgb(238, 232, 213);
  --color-chart-current-price-label-background: rgb(253, 246, 227); */

  /* --color-condition-formula-study: rgb(42, 161, 152);
  --color-condition-formula-offset: rgb(108, 113, 196);
  --color-condition-formula-price: rgb(133, 153, 0);
  --color-condition-formula-integer: rgb(181, 137, 0);
  --color-condition-formula-body-text: rgb(235, 232, 213); */

  /* --color-draw-tool-fill-1: rgb(255, 192, 192, 0.2);
  --color-draw-tool-fill-2: rgb(192, 255, 192, 0.2);
  --color-draw-tool-fill-3: rgb(192, 192, 255, 0.2);
  --color-draw-tool-fill-4: rgb(192, 255, 255, 0.2);
  --color-draw-tool-fill-5: rgb(255, 192, 255, 0.2);
  --color-draw-tool-fill-6: rgb(255, 255, 192, 0.2);
  --color-draw-tool-fill-7: rgb(255, 255, 255, 0.2); */

  /* --color-box-shadow-thumb-start: rgba(238, 232, 311, 0.4);
  --color-box-shadow-thumb-end: rgba(238, 232, 311, 0.08);
  --color-box-shadow-depth-1-start: rgba(0, 0, 0, 0.12);
  --color-box-shadow-depth-1-end: rgba(0, 0, 0, 0.24);
  --color-box-shadow-depth-2-start: rgba(0, 0, 0, 0.16);
  --color-box-shadow-depth-2-end: rgba(0, 0, 0, 0.23);
  --color-box-shadow-depth-3-start: rgba(0, 0, 0, 0.19);
  --color-box-shadow-depth-3-end: rgba(0, 0, 0, 0.23);
  --color-box-shadow-depth-4-start: rgba(0, 0, 0, 0.25);
  --color-box-shadow-depth-4-end: rgba(0, 0, 0, 0.22);
  --color-box-shadow-depth-5-start: rgba(0, 0, 0, 0.3);
  --color-box-shadow-depth-5-end: rgba(0, 0, 0, 0.22); */

  /* --color-btn-default: rgb(253, 246, 227);
  --color-btn-hover: rgb(38, 139, 210);
  --color-btn-active: rgb(47, 119, 168);
  --color-btn-disabled: rgb(101, 123, 131);
  --color-btn-muted: rgb(101, 123, 131);
  --color-btn-muted-hover: rgb(101, 123, 131); */

  /* --color-border-default: rgb(13, 67, 76);
  --color-border-chart: rgb(13, 67, 76);
  --color-border-active: rgb(47, 119, 168);
  --color-border-invalid: rgb(221, 48, 39);
  --color-border-dark: rgb(101, 123, 131);
  --color-border-light: rgb(0, 43, 54); */

  /* --color-background-application: rgb(0, 43, 54); */
  /* --color-background-default: rgb(0, 43, 54);
  --color-background-muted-01: rgb(7, 54, 66);
  --color-background-muted-02: rgb(11, 60, 71);
  --color-background-invert: rgb(238, 232, 213); */

  /* --color-active: rgb(47, 119, 168);
  --color-active-hover: rgb(47, 119, 168); */

  /* --color-favorite: rgb(179, 141, 47); */

  /* --color-foreground-default: rgb(238, 232, 213);
  --color-foreground-muted-01: rgb(253, 246, 227);
  --color-foreground-muted-02: rgb(88, 110, 117);
  --color-foreground-muted-03: rgb(101, 123, 131);
  --color-foreground-invert: rgb(0, 0, 0); */

  /* --color-invalid: rgb(221, 48, 39); */
  /* --color-delta-negative: rgb(221, 48, 39);
  --color-delta-positive: rgb(130, 157, 60); */
  /* --color-tooltip-foreground: rgb(0, 0, 0);
  --color-tooltip-background: rgb(147, 161, 161); */

  /* --color-menu-background: rgb(11, 60, 71);
  --color-menu-background-hover: rgb(7, 54, 66);
  --color-menu-foreground: rgb(253, 246, 227);
  --color-menu-background-muted-hover: rgba(7, 54, 66, 0.5); */

  /* --color-scrollbar-track: rgb(0, 43, 54);
  --color-scrollbar-thumb: rgb(101, 123, 131);
   */

  /* --color-badge-default: rgb(101, 123, 131);
  --color-badge-accent: rgb(179, 141, 47); */

  /* --color-feedback-default: rgb(38, 139, 210);
  --color-feedback-warning: rgb(179, 141, 47);
  --color-feedback-error: rgb(221, 48, 39);

  --color-hud-background: rgba(0, 43, 54, 0.9);
  --color-hud-foreground: rgb(238, 232, 213);
  --color-hud-icon: rgb(253, 246, 227);
  --color-hud-icon-hover: rgb(38, 139, 210); */

  /* --color-panel-background: rgba(0, 43, 54, 0.9);
  --color-panel-foreground: rgb(253, 246, 227); */

  /* --color-list-item-hover-background: rgb(0, 43, 54);
  --color-list-header-text: rgb(253, 246, 227); */
}
