:root {
  /* --color-green: rgb(91, 165, 13);
  --color-purple: rgb(117, 72, 192);
  --color-red: rgb(219, 27, 35);
  --color-yellow: rgb(243, 184, 36);
  --color-white: rgb(255, 255, 255);
  --color-limegreen: limegreen;
  --color-crimson: crimson; */
  --color-green-low-contrast: rgb(73, 138, 4);
  --color-purple-low-contrast: rgb(101, 55, 177);
  --color-red-low-contrast: rgb(196, 19, 26);
  --color-yellow-low-contrast: rgb(209, 150, 1);
  --color-branding-bar: rgba(0, 0, 0, 1);
  --color-background-application: rgb(41, 44, 46);
  --color-accent: rgb(0, 147, 217);
  --color-accent-secondary: rgb(0, 121, 179);
  --color-accent-muted-01: rgb(172, 213, 229);
  --color-accent-background: rgb(0, 147, 217, 0.05);
  --color-low-contrast-01: rgb(66, 75, 79);
  --color-low-contrast-02: rgb(52, 58, 61);
  --color-low-contrast-03: rgb(43, 49, 51);
  --color-md-contrast-01: rgb(157, 164, 179);
  --color-md-contrast-02: rgb(183, 188, 196);
  --color-md-contrast-03: rgb(88, 93, 106);
  --color-high-contrast-01: rgb(255, 255, 255);
  --color-high-contrast-02: rgb(232, 232, 235);
  --color-high-contrast-03: rgb(196, 198, 204);
  --color-overlay-background: rgba(0, 0, 0, 0.5);
  --color-overlay-background-muted-01: rgba(255, 255, 255, 0.25);
  --color-panel-background: rgba(41, 44, 46, 0.9);
  --color-input-background: rgba(34, 39, 43, 0.5);
  --color-input-border: rgb(74, 79, 84);
  --color-input-thumb: rgb(183, 188, 196);
  --color-input-symbol-search: rgb(30, 32, 33);
  --color-border-default: rgb(88, 93, 106);
  --color-border-chart: rgb(88, 93, 106);
  --color-chart-output: rgb(255, 255, 255);
  --color-chart-output-invert: rgb(0, 0, 0);
  --color-gridline-major: rgb(88, 93, 106);
  --color-gridline-minor: rgb(66, 75, 79);
  --color-box-shadow-thumb-start: rgba(255, 255, 255, 0.4);
  --color-box-shadow-thumb-end: rgba(255, 255, 255, 0.08);
  --color-condition-formula-study: rgb(20, 146, 204);
  --color-condition-formula-offset: rgb(230, 144, 25);
  --color-condition-formula-price: rgb(177, 133, 188);
  --color-condition-formula-integer: rgb(41, 204, 199);
  --color-condition-formula-body-text: rgb(183, 188, 196);
  --color-draw-tool-fill-1: rgb(255, 192, 192, 0.2);
  --color-draw-tool-fill-2: rgb(192, 255, 192, 0.2);
  --color-draw-tool-fill-3: rgb(192, 192, 255, 0.2);
  --color-draw-tool-fill-4: rgb(192, 255, 255, 0.2);
  --color-draw-tool-fill-5: rgb(255, 192, 255, 0.2);
  --color-draw-tool-fill-6: rgb(255, 255, 192, 0.2);
  --color-draw-tool-fill-7: rgb(255, 255, 255, 0.2);
  --color-box-shadow-depth-1-start: rgba(0, 0, 0, 0.12);
  --color-box-shadow-depth-1-end: rgba(0, 0, 0, 0.24);
  --color-box-shadow-depth-2-start: rgba(0, 0, 0, 0.16);
  --color-box-shadow-depth-2-end: rgba(0, 0, 0, 0.23);
  --color-box-shadow-depth-3-start: rgba(0, 0, 0, 0.19);
  --color-box-shadow-depth-3-end: rgba(0, 0, 0, 0.23);
  --color-box-shadow-depth-4-start: rgba(0, 0, 0, 0.25);
  --color-box-shadow-depth-4-end: rgba(0, 0, 0, 0.22);
  --color-box-shadow-depth-5-start: rgba(0, 0, 0, 0.3);
  --color-box-shadow-depth-5-end: rgba(0, 0, 0, 0.22);
  --color-active: rgb(0, 121, 179);
  --color-active-hover: rgb(0, 121, 179);
  --color-favorite: rgb(243, 184, 36);
  --color-background-default: rgb(66, 75, 79);
  --color-background-muted-01: rgb(52, 58, 61);
  --color-background-muted-02: rgb(43, 49, 51);
  --color-background-invert: rgb(232, 232, 235);
  --color-foreground-default: rgb(232, 232, 235);
  --color-foreground-muted-01: rgb(196, 198, 204);
  --color-foreground-muted-02: rgb(157, 164, 179);
  --color-foreground-muted-03: rgb(183, 188, 196);
  --color-foreground-invert: rgb(0, 0, 0);
  --color-input-text: rgb(196, 198, 204);
  --color-input-text-active: rgb(232, 232, 235);
  --color-input-inactive: rgb(88, 93, 106);
  --color-input-track-default: rgb(88, 93, 106);
  --color-input-track-hover: rgb(183, 188, 196);
  --color-list-item-hover-background: rgb(66, 75, 79);
  --color-list-header-text: rgb(196, 198, 204);
  --color-invalid: rgb(219, 27, 35);
  --color-delta-negative: crimson;
  --color-delta-positive: limegreen;
  --color-tooltip-foreground: rgb(0, 0, 0);
  --color-tooltip-background: rgb(255, 255, 255);
  --color-chart-label-major-background: rgba(41, 44, 46, 0.9);
  --color-chart-label-major: rgb(183, 188, 196);
  --color-chart-label-minor: rgb(157, 164, 179);
  --color-menu-background: rgb(43, 49, 51);
  --color-menu-background-hover: rgb(66, 75, 79);
  --color-menu-foreground: rgb(196, 198, 204);
  --color-menu-background-muted-hover: rgb(52, 58, 61);
  --color-panel-foreground: rgb(196, 198, 204);
  --color-border-active: rgb(0, 121, 179);
  --color-border-invalid: rgb(219, 27, 35);
  --color-border-dark: rgb(183, 188, 196);
  --color-border-light: rgb(66, 75, 79);
  --color-btn-default: rgb(196, 198, 204);
  --color-btn-hover: rgb(0, 147, 217);
  --color-btn-active: rgb(0, 121, 179);
  --color-btn-disabled: rgb(183, 188, 196);
  --color-btn-muted: rgb(88, 93, 106);
  --color-btn-muted-hover: rgb(183, 188, 196);
  --color-scrollbar-track: rgb(66, 75, 79);
  --color-scrollbar-thumb: rgb(183, 188, 196);
  --color-badge-default: rgb(183, 188, 196);
  --color-badge-accent: rgb(243, 184, 36);
  --color-feedback-default: rgb(0, 147, 217);
  --color-feedback-warning: rgb(243, 184, 36);
  --color-feedback-error: rgb(219, 27, 35);
  --color-mountain-fill: rgba(255, 255, 255, 0.2);
  --color-branding-bar-foreground: rgb(255, 255, 255);
  --color-chart-bar-price-label-background: rgb(232, 232, 235);
  --color-chart-current-price-label-background: rgb(196, 198, 204);
  --color-hud-background: rgba(41, 44, 46, 0.9);
  --color-hud-foreground: rgb(232, 232, 235);
  --color-hud-icon: rgb(196, 198, 204);
  --color-hud-icon-hover: rgb(0, 147, 217);
}
