:root {
  --color-branding-bar: rgb(43, 59, 66);
  --color-background-application: rgb(255, 255, 255);
  --color-accent: rgb(0, 147, 217);
  --color-accent-secondary: rgb(0, 122, 179);
  --color-accent-muted-01: rgb(139, 192, 217);
  --color-accent-background: rgb(0, 147, 217, 0.05);
  --color-green-low-contrast: rgb(73, 138, 4);
  --color-purple-low-contrast: rgb(101, 55, 177);
  --color-red-low-contrast: rgb(196, 19, 26);
  --color-yellow-low-contrast: rgb(233, 170, 13);
  --color-low-contrast-01: rgb(230, 237, 240);
  --color-low-contrast-02: rgb(242, 246, 247);
  --color-low-contrast-03: rgb(250, 252, 252);
  --color-md-contrast-01: rgb(118, 139, 148);
  --color-md-contrast-02: rgb(179, 191, 196);
  --color-md-contrast-03: rgb(189, 199, 204);
  --color-high-contrast-01: rgb(31, 41, 46);
  --color-high-contrast-02: rgb(43, 59, 66);
  --color-high-contrast-03: rgb(77, 94, 102);
  --color-green: rgb(91, 165, 13);
  --color-purple: rgb(117, 72, 192);
  --color-red: rgb(219, 27, 35);
  --color-yellow: rgb(243, 184, 36);
  --color-white: rgb(255, 255, 255);
  --color-limegreen: limegreen;
  --color-crimson: crimson;
  --color-overlay-background: rgba(43, 56, 66, 0.5);
  --color-overlay-background-muted-01: rgba(255, 255, 255, 0.65);
  --color-panel-background: rgba(255, 255, 255, 0.9);
  --color-chart-output: rgb(43, 59, 66);
  --color-chart-output-invert: rgb(255, 255, 255);
  --color-gridline-major: rgb(230, 237, 240);
  --color-gridline-minor: rgb(242, 246, 247);
  --color-box-shadow-thumb-start: rgba(0, 0, 0, 0.4);
  --color-box-shadow-thumb-end: rgba(0, 0, 0, 0.08);
  --color-input-background: rgba(255, 255, 255, 0.5);
  --color-input-border: rgba(213, 223, 227, 1);
  --color-input-symbol-search: rgb(255, 255, 255);
  --color-input-thumb: rgb(255, 255, 255);
  --color-border-default: rgb(213, 223, 227);
  --color-border-chart: rgb(213, 223, 227);
  --color-condition-formula-study: rgb(20, 146, 204);
  --color-condition-formula-offset: rgb(230, 144, 25);
  --color-condition-formula-price: rgb(179, 45, 156);
  --color-condition-formula-integer: rgb(41, 204, 199);
  --color-condition-formula-body-text: rgb(118, 139, 148);
  --color-draw-tool-fill-1: rgb(128, 0, 0, 0.2);
  --color-draw-tool-fill-2: rgb(0, 128, 0, 0.2);
  --color-draw-tool-fill-3: rgb(0, 0, 128, 0.2);
  --color-draw-tool-fill-4: rgb(0, 128, 128, 0.2);
  --color-draw-tool-fill-5: rgb(128, 0, 128, 0.2);
  --color-draw-tool-fill-6: rgb(128, 128, 0, 0.2);
  --color-draw-tool-fill-7: rgb(128, 128, 128, 0.2);
  --color-box-shadow-depth-1-start: rgba(31, 41, 46, 0.12);
  --color-box-shadow-depth-1-end: rgba(31, 41, 46, 0.24);
  --color-box-shadow-depth-2-start: rgba(31, 41, 46, 0.16);
  --color-box-shadow-depth-2-end: rgba(31, 41, 46, 0.23);
  --color-box-shadow-depth-3-start: rgba(31, 41, 46, 0.19);
  --color-box-shadow-depth-3-end: rgba(31, 41, 46, 0.23);
  --color-box-shadow-depth-4-start: rgba(31, 41, 46, 0.25);
  --color-box-shadow-depth-4-end: rgba(31, 41, 46, 0.22);
  --color-box-shadow-depth-5-start: rgba(31, 41, 46, 0.3);
  --color-box-shadow-depth-5-end: rgba(31, 41, 46, 0.22);
  --color-active: rgb(0, 122, 179);
  --color-active-hover: rgb(0, 122, 179);
  --color-favorite: rgb(243, 184, 36);
  --color-background-default: rgb(230, 237, 240);
  --color-background-muted-01: rgb(242, 246, 247);
  --color-background-muted-02: rgb(250, 252, 252);
  --color-background-invert: rgb(43, 59, 66);
  --color-foreground-default: rgb(43, 59, 66);
  --color-foreground-muted-01: rgb(77, 94, 102);
  --color-foreground-muted-02: rgb(118, 139, 148);
  --color-foreground-muted-03: rgb(179, 191, 196);
  --color-foreground-invert: rgb(255, 255, 255);
  --color-input-text: rgb(77, 94, 102);
  --color-input-text-active: rgb(43, 59, 66);
  --color-input-inactive: rgb(189, 199, 204);
  --color-input-track-default: rgb(189, 199, 204);
  --color-input-track-hover: rgb(179, 191, 196);
  --color-list-item-hover-background: rgb(230, 237, 240);
  --color-list-header-text: rgb(77, 94, 102);
  --color-invalid: rgb(219, 27, 35);
  --color-delta-negative: crimson;
  --color-delta-positive: limegreen;
  --color-tooltip-foreground: rgb(255, 255, 255);
  --color-tooltip-background: rgb(31, 41, 46);
  --color-chart-label-major-background: rgba(255, 255, 255, 0.9);
  --color-chart-label-major: rgb(43, 59, 66);
  --color-chart-label-minor: rgb(43, 59, 66);
  --color-menu-background: rgb(250, 252, 252);
  --color-menu-background-hover: rgb(230, 237, 240);
  --color-menu-foreground: rgb(77, 94, 102);
  --color-menu-background-muted-hover: rgb(242, 246, 247);
  --color-panel-foreground: rgb(77, 94, 102);
  --color-border-active: rgb(0, 122, 179);
  --color-border-invalid: rgb(219, 27, 35);
  --color-border-dark: rgb(179, 191, 196);
  --color-border-light: rgb(230, 237, 240);
  --color-btn-default: rgb(77, 94, 102);
  --color-btn-hover: rgb(0, 147, 217);
  --color-btn-active: rgb(0, 122, 179);
  --color-btn-disabled: rgb(179, 191, 196);
  --color-btn-muted: rgb(189, 199, 204);
  --color-btn-muted-hover: rgb(179, 191, 196);
  --color-scrollbar-track: rgb(230, 237, 240);
  --color-scrollbar-thumb: rgb(179, 191, 196);
  --color-badge-default: rgb(179, 191, 196);
  --color-badge-accent: rgb(243, 184, 36);
  --color-feedback-default: rgb(0, 147, 217);
  --color-feedback-warning: rgb(243, 184, 36);
  --color-feedback-error: rgb(219, 27, 35);
  --color-mountain-fill: rgba(43, 59, 66, 0.2);
  --color-branding-bar-foreground: rgb(255, 255, 255);
  --color-chart-bar-price-label-background: rgb(43, 59, 66);
  --color-chart-current-price-label-background: rgb(77, 94, 102);
  --color-hud-background: rgba(255, 255, 255, 0.9);
  --color-hud-foreground: rgb(43, 59, 66);
  --color-hud-icon: rgb(77, 94, 102);
  --color-hud-icon-hover: rgb(0, 147, 217);
}